html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-column: 1/4;
  grid-row-gap: 1rem;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 10px;
}
.search {
  border-radius: 2px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  padding: 5px;
  min-width: 270px;
  margin: 20px;
}

#filter {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-size: 14px;
  padding: 10x;
  min-width: 280px;
  margin: 20px;
}

.card {
  border-radius: 4px;
  background-color: #999;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  margin: 20px;
  width: 240px;
  opacity: 0.7;
  transition: transform 0.5s;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.25);
  opacity:1;
}
.card img {
  object-fit: cover;
  height: 150px;
  width: 100%;
}

.card-body {
  padding: 10px;
}

.card-body h3 {
  margin-top: 0;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
  #filterDiv {
    float: left;
  }
  .search {
    min-width: 250px;
  }
}
